* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background-color: black;
  color:#db7b00;
  max-width: 100vw;
  overflow-x: hidden;
}
.container {
  max-width: 100%;
}

.bg-primary {
  background-color: #0f0a05 !important;
}

.black-container {
  width: 100%;
  /* max-width: 1314px; */
}

#salutation-rgt svg{
  width : 105%;
  height : 70%;
  padding-left: 10px;
}

#salutation {
width: 100%;
background: #1C1A19;
}

#nav-primary {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 99;
}

#uppericons {
  position: fixed;
  width: 100%;
  /* left: 50%; */
  top: 0;
  z-index: 100;
}

#upper-icons-container {
  width: 100px;
  float: right;
  margin-right: 10%;
  padding-top: 35px;
}

#upper-icons-container .salutation-icon-link {
  font-size: 1rem;
  color: #bf6f06;
}

#languages{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 5px;
  width: 75%;
  margin-left: 25%;
}

#salutation-lft {
  padding-right: 10px;
  height: 600px;
}

#intro-text {
	position: relative;
	top: 270px;
	left: 66px;
  color: blanchedalmond;
  padding-right: 15px;
	font-size: large ;
}

.header__main-title-box {
  display: flex;
  flex-direction: row;
	text-align: center;
    position: absolute;
    color: #ca8809d4;
	top: 25%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
}

.salutation-icons-container {
  display: flex;
  flex-direction: row;
  justify-items: left;
  width: 100%;
  justify-content: center;
}

.salutation-icon-wrapper {
  margin: 0 .7rem;
}

.salutation-icon-link {
  font-size: 1.5rem;
  color: #4d647b;
}

#myphoto {
  border-radius: 50%;
  transform: scaleX(-1);
  width: 150px;
}

#projectsdiv {
  width: 100%;
  overflow-x: clip;
  background: #fb5604cc;
  padding-bottom: 15px;
}

#header-project {
  display: grid;
  grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
}

#linesvg {
  height: 15px;
  width: 350px;
}

#project-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 450px 450px;
  grid-auto-rows: 450px;
}

.card {
  perspective: 150rem;
  position: relative;
}

.card__side {      
  height: 280px;
  min-height: 250px;
  width: 100%;
  backface-visibility: hidden;
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  box-shadow: 0 1.5rem 7rem rgba(0, 0, 0, 0.589)
}

.card__side--front {
  background-color: whitesmoke;
}

.card__side--back {
  height: 250px;
  background-image: linear-gradient(to right bottom, #C5CAE9,#303F9F);
  transform: rotateY(180deg);
}

.card:hover .card__side--front{
  transform: rotateY(180deg) 
}

.card:hover .card__side--back{
  transform: rotateY(0deg) 
}

.card_img-front {
  width: 100%;
  max-height: 30rem;
}

.project__card {
  display: flex;
  flex-direction: column;
  height: 30rem;
}

.project__card-head {
  text-align: center;
  height: 15%
}

.project__card-head--h4 {
  font-size: 2rem;
  font-weight: 600;
}

.project__card-body {
  font-size: 1rem;
        text-align: justify;
        background-color:#303F9F;
        color: #e8e4e4;
        height: 70%;
}

.project__card-icons {
  font-size: 1rem;
  color: rgb(247, 124, 9);
}

.project__card-live {
  color: rgb(247, 124, 9);
}

.project__card-icons img {
  max-width: 1.7rem;
}

#aboutme {
  width: 100%;
  background:#1C1A19;
}

#aboutme-lft {
  padding-right: 10px;
  height: 450px;  
}

#aboutsvg-cont {
  height: 37%;
}

.header__main-title-box {
  display: flex;
  flex-direction: row;
	text-align: center;
    position: absolute;
    color: #ca8809d4;
	top: 20%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
}

#about-text {
	/* position: relative; */
	/* top: 346px; */
	/* left: 66px; */
	color: blanchedalmond;
	padding-right: 15px;
	font-size: large;
	padding: 10%;
}

#aboutsvg {
	width: 106%;
	height: 70%;
}

#knowledge {
  margin-left: 10%;
}

#contact-me {
  background-color: #e86a1e;
  height: 400px;
  padding-top: 3rem;
}
.page__footer-left {
  color: darkslategray;
  font-size: 1.5rem;
}

.half-width {
  width: 80%;
}
.page__footer-right {
  display: flex;
  flex-direction: row;
  justify-items: left;
  width: 21%;
  margin-left: 5%;
}

.page__footer-icons-container{
  display: flex;
  flex-direction: row;
  justify-items: left;
  width: 100%;
  justify-content: space-around;
}

.icon-link {
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  #salutation {
    min-height: 660px;
    overflow-x: clip;
  }
  .card_img-front {
    width: 100%;
    max-height: 24rem;

  }

  #upper-icons-container {
    margin-right: 20%;
  }
}

@media screen and (min-width: 770px) and (max-width:1200px) {
  #salutation {
    min-height: 660px ;
  }

  #header-project {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    justify-items: center;
    justify-content: space-evenly;
  }

  #aboutsvg-cont {
    height: 37%;
  }
}

@media only screen and (max-width: 770px) {
  
  /* #upper-icons-container {
    margin-left: 95px;
    margin-top: 35px;
    float: left;
  } */

  #salutation {
    min-height: 720px ;
  }

  #salutation-lft {
    padding-right: 10px;
    height: 700px;
  }

  #salutation-rgt svg{
    display: none;
    width : 80%;
    height : 80%;
    padding-left: 10px;
  }

  #aboutsvg-cont {
    height: 25%;
  }

  #aboutsvg {
    display: none;
  }

  #languages {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10%;
  }
  
  #salutation-rgt {
    top: 30px;
  }


  .heading-primary {
    font-size: 1.5rem;
  }
  
  #intro-text {
    position: relative;
    /* top: 187px; */
    left: 19px; 
    color: blanchedalmond;
    padding-right: 15px;
    font-size: large;
  }

  #header-project {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 452px;
    grid-template-columns: 1fr;
    justify-items: flex-start;
    justify-content: flex-start;
  }

  /* .card__side {
    width: 70%;
    margin-left: 15%;
  } */
  .card_img-front {
    width: 100%;
    max-height: 24rem;
    min-height: 340px;
  }

  #aboutme-lft {
    padding-right: 10px;
    height: 346px;
  }

  #aboutme-rgt {
    /* padding-left: 37px; */
  }

  .page__footer-icons-container{
    flex-direction: column;
    justify-items: left;
    width: 100%;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  
  #upper-icons-container {
    margin-left: 95px;
    margin-top: 35px;
    float: left;
  }

  page__footer-left {
    color: darkslategray;
    font-size: 1.2rem;
}
}

@media only screen and (max-width: 400px) {
#aboutsvg-cont {
  height: 43%;
}

#languages {
  width: 100%;
  margin-left: 0;
  margin-bottom: 27%;
}

.page__footer-left {
	color: darkslategray;
	font-size: 1.2rem;
}
}